<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zac4j.zwallet">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".view.MainActivity"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".view.MyWalletActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        />

    <activity
        android:name=".view.DashboardActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        />

    <activity
        android:name=".view.CoinTradeActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        />

    <activity
        android:name=".view.TransactionActivity"
        android:screenOrientation="portrait"
        />

    <service android:name=".service.PollService" />
  </application>

</manifest>